@value tokens: "../style/tokens.module.css";
@value formTitleFont, formFont, primaryColor from tokens;

.styling {
    width: 60vw;
    margin: 0 auto;
}
.title {
    composes: subTitle from "../style/typo.module.css";
    font-size: formTitleFont;
    color: primaryColor;
    align-self: flex-start;
}

.text {
    composes: footer from "../style/typo.module.css";
    font-family: 'Cantarell', cursive; ;
    color: white;
}