@value tokens: "../style/tokens.module.css";
@value navFont, secondaryColor from tokens;

  


.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  
}

.navItem {
  font-family: 'Syne Mono', monospace;
  text-decoration: none;
  font-size: navFont;
  padding: 0.5rem;
  
}

.navLink {
  background-color: primaryColor;
  color: secondaryColor;
  text-decoration: none;
}

.active {

  text-decoration: underline;
  text-underline-offset: .5rem;
}
